<div class="appCardContainer">
  <div class="card-container" *ngFor="let location of housingLocation2; let i = index">
    <img [src]="location.photo" alt="photo" class="card-image-container" />
    <div>
      <h3>{{ location.name }}</h3>
      <p>city: {{ location.city }}</p>
      <p>state: {{ location.state }}</p>
      <button (click)="showLocationDetails(location)">Show Details</button>
      <button (click)="addToCart(location)">Add to cart</button>
      <div>
        <button (click)="deleteLocation(i)">Delete</button>
        <button (click)="updateLocation(location)">Update</button>
      </div>
    </div>
  </div>
</div>


<app-update-location-form *ngIf="showUpdateHouseForm" [housingLocation]="selectedLocation" (hideFormDetailsEvent)="hideUpdateHouseForm()"></app-update-location-form>


<app-card-details *ngIf="showHouseDetails" [housingLocation]="selectedLocation" (hideDetailsEvent)="hideLocationDetails()"></app-card-details>