*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-container{
    background-color: violet;
    width: 200px;  
    min-height: 325px;
}

.card-container>div{
    padding: 20px 20px;
}

.card-image-container{
    height: 200px;
    width: 100%;
}

.appCardContainer{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: gray;
    padding: 75px 30px;
}
