.cardDetailsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
}

.cardDetailsContainer>img{
    height:80%;
    width: 70%;
}

.cardDetailsContainer>div{
    text-align: left;
    color: #07efb9;
}


.cardDetailsContainer>div>button{
    background-color: orange;
    color: white;
    outline: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bolder;
}