<h1>Day 1 task</h1>
<div>
  <h3>Print the value in console using events</h3>
  <input #cityInput type="text" placeholder="Filter by city" (input)=onInputChange($event)/>
</div>


 <div>
    <h3> Print the value after click using event</h3>
    <input type="text" placeholder="Filter by city" (input)=onInputChangeInst($event)/>
    <button class="primary" type="button" (click)=showAfetClick()>Search</button>
    <p *ngIf="showdata">{{showAfetClickString}}</p>
</div>
  


<div>
    <h3>Print the value instantly using 2 way binding </h3>
    <input type="text" placeholder="Filter by city" [(ngModel)]=" showInstString"/>
    <p>{{ showInstString}}</p>
</div> 
